body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111a21;
  color: white;
}

.helloDiv {
  padding: 40px;
  margin-top: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
